<style>
    /* Color Variables (Edit)*/
    :root {
        --selection-color: #000;
        --text-color: #ffff;
    }

    /* Mouse Selection */
    ::selection {
        background: var(--selection-color);
        color: var(--text-color);
    }

    ::-moz-selection {
        /* Code for Firefox */
        background: var(--selection-color);
        color: var(--text-color);
    }
</style>
